<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Navigation
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://thumbs.dreamstime.com/b/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144857620.jpg">
  
      <h4 class="name">John Doe</h4>
      <p class="designation">Software Engineer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" (click)="scrollToDoughnutChart()">
        <mat-icon>pie_chart</mat-icon>
        <span>Overall mood</span>
      </button>
      <button mat-button class="menu-button" (click)="scrollToBarChart()">
        <mat-icon>history</mat-icon>
        <span>Team history</span>
      </button>
      <button mat-button class="menu-button" (click)="scrollToLineChart()">
        <mat-icon>multiline_chart</mat-icon>
        <span>Team evolution</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>account_circle</mat-icon>
        <span>Log out</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>contact_support</mat-icon>
        <span>About us</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>