<div class="top_menu">
    <!-- <app-sidenav class="sidenav"></app-sidenav> -->
    <div class="top_menu_buttons">
        <button class="top_menu_button logout_button">Log out</button>
        <button class="top_menu_button settings_button">Settings</button>
    </div>
    <div class="top_menu_picture">
        <img class="profile_picture"
            src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
    </div>
</div>
