<div class="user_card">
  <div class="thumbnail">
    <img src="https://thumbs.dreamstime.com/b/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144857620.jpg" alt="John" style="width:100%">
  </div>
    <div class="details">
    <h1>John Doe</h1>
    <p class="title">First name & Last name</p>
    <p>Department maybe or smth</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
    <p><button>See more...</button></p>
  </div>