<div class="user_card">
  <div class="thumbnail">
    <img src="https://thumbs.dreamstime.com/b/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144857620.jpg" alt="John" style="width:100%">
  </div>
    <div class="details">
    <h1>John Doe</h1>
    <p>I'm feeling</p>
    <img class="user-emoji" src="https://image.similarpng.com/very-thumbnail/2020/06/3D-cute-love-emoji-vector-PNG.png">
  </div>
    <button (click)="createModal()">See more...</button>
    <div #modal></div> 
  </div>