<div class="container">
  <div class="head">
    <img src="assets/images/logo.jpg" />
    <hr>
    <h1>Login</h1>
    <hr>
  </div>

  <body>
    <h2>~ Mood Tracking ~</h2>

    <div class="input">
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput #email id="email" (keyup)="setEmail(email.value)">
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" id="password" matInput #password (keyup)="setPassword(password.value)">
      </mat-form-field>
    </div>

    <div *ngIf="empty">
      <div class="error">* You have to complete all the fields! *</div>
    </div>

    <div class="button">
      <button mat-button (click)="ifSignInPressed()">Sign in</button>
    </div>

    <a mat-button (click)="goToRegister()" target="_blank">New here? CREATE AN ACCOUNT</a>

  </body>
</div>