<div class="form-container">
        <form>
                <p class="form-question">How would you rate your mood today?</p>
                <div class="table">
                        <ul class="list-emoji">
                                <li><img ng-click="$scope.toggleSize()" class="form_emoji"
                                                src="assets/images/1.png"
                                                #emoji (click)="setValue(1)">
                                </li>
                                <li><img class="form_emoji"
                                                src="assets\images\2.png"
                                                #emoji (click)="setValue(2)">
                                </li>
                                <li><img class="form_emoji"
                                                src="assets\images\3.png"
                                                #emoji (click)="setValue(3)">
                                </li>
                                <li><img class="form_emoji"
                                                src="assets\images\4.png"
                                                #emoji (click)="setValue(4)">
                                </li>
                                <li><img class="form_emoji"
                                                src="assets\images\5.png"
                                                #emoji (click)="setValue(5)">
                                </li>
                                <li><img class="form_emoji"
                                                src="assets\images\6.png"
                                                #emoji (click)="setValue(6)">
                                </li>
                        </ul>
                </div>
                <div class="form-input">
                        <p class="form-question">Please, justify your choice in a few words</p>
                        <textarea class="question-text" type="text" #justification
                                (keyup)="setJustification(justification.value)" rows="4" cols="30"></textarea>
                        <p class="form-question">What can we improve?</p>
                        <textarea class="question-text" type="text" #improvment
                                (keyup)="setImprovment(improvment.value)" rows="4" cols="30"></textarea>
                </div>
                <div class="form-buttons">
                        <input class="btn submit-btn" type="button" value="Submit" (click)="ifSubmitPressed()">
                        <input class="btn reset-btn" type="reset" value="Reset">
                </div>
        </form>
</div>