<div class="form_container">
    <form>
        <p>How would you rate your mood today?</p>
        <ul>
            <li><img class="form_emoji"
                    src="https://img.freepik.com/free-photo/gray-painted-background_53876-94041.jpg?w=2000">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
            <li><img class="form_emoji"
                    src="https://www.ateneo.edu/sites/default/files/styles/large/public/2021-11/istockphoto-517998264-612x612.jpeg?itok=aMC1MRHJ">
            </li>
        </ul>
        <p>Comment for justification</p>
        <input type="text">
        <p>What to improve</p>
        <input type="text">
        <div class="form_buttons">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>