.form-container {
    /* border: 1px solid #ccc; */
    width: 80%;
    margin: 0 auto;
}

.form-question {
    font-weight: 300;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.table {
    display: table;
    margin: 0 auto;
}

.list-emoji {
    margin-top: 0px;
    min-width: 696px;
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
    text-align: center;
}

.list-emoji li {
    display: inline;
}

.form_emoji {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.form_emoji:hover {
    transform: scale(1.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.question-text {
    display: block;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cardo', serif;
    width: 80%;
    /* height: 40px; */
    box-sizing: border-box;
    padding-left: 10px;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    background: white;
    border: 1px solid #9B9B9B;
    border-radius: 50px;
    height: 60px;
    width: 150px;
    text-transform: uppercase;
    cursor: pointer;
}

.submit-btn {
    margin-left: 150px;
}

.submit-btn:hover {
    color: black;
    background: #FFE3E3;
}

.reset-btn {
    margin-right: 150px;
}

.reset-btn:hover {
    color: black;
    background: rgb(181, 177, 177);
}
