<div class="form-container">
        <form>
                <p class="form-question">How would you rate your mood today?</p>
                <div class="table">
                        <ul class="list-emoji">
                                <li><img class="form_emoji"
                                                src="https://image.similarpng.com/very-thumbnail/2021/09/Sad-emoji-face-on-transparent-backround-PNG.png">
                                </li>
                                <li><img class="form_emoji"
                                                src="https://image.similarpng.com/very-thumbnail/2021/09/Yellow-emoji-face-design-on-transparent-background-PNG.png">
                                </li>
                                <li><img class="form_emoji"
                                                src="https://image.similarpng.com/very-thumbnail/2021/09/Grimacing-Face-Emoji-on-transparent-background-PNG.png">
                                </li>
                                <li><img class="form_emoji"
                                                src="https://image.similarpng.com/very-thumbnail/2021/09/Funny-emoji-face-on-transparent-background-PNG.png">
                                </li>
                                <li><img class="form_emoji"
                                                src="https://image.similarpng.com/very-thumbnail/2020/06/3D-cute-love-emoji-vector-PNG.png">
                                </li>
                        </ul>
                </div>
                <p class="form-question">Please, justify your choice</p>
                <input class="question-text" type="text">
                <p class="form-question">What can we improve?</p>
                <input class="question-text" type="text">
                <div class="form-buttons">
                        <input class="btn submit-btn" type="submit" value="Submit">
                        <input class="btn reset-btn" type="reset" value="Reset">
                </div>
        </form>
</div>